In [2]:
import pandas as pd
import numpy as np

In [3]:
titanic_ds = pd.read_csv("titanic.csv")
titanic_hidden_ds = pd.read_csv("titanic_hidden.csv")

In [16]:
titanic_ds

,Unnamed: 0,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,20.5750
1,615,0,3,"Brocklebank, Mr. William Alfred",male,35.0,0,0,8.0500
2,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1,1,20.5250
3,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,26.0000
4,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,146.5208
...,...,...,...,...,...,...,...,...,...
494,382,1,3,"Nakid, Miss. Maria (""Mary"")",female,1.0,0,2,15.7417
495,661,1,1,"Frauenthal, Dr. Henry William",male,50.0,2,0,133.6500
496,408,1,2,"Richards, Master. William Rowe",male,3.0,1,1,18.7500
497,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,22.0250
498,783,0,1,"Long, Mr. Milton Clyde",male,29.0,0,0,30.0000

In [17]:
titanic_hidden_ds

,Unnamed: 0,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
1,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333
2,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,16.7000
3,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,26.5500
4,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,8.0500
...,...,...,...,...,...,...,...,...,...
210,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,5.0000
211,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,7.2250
212,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,10.5000
213,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,7.0500
214,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,30.0000

In [18]:
titanic_ds.head()

,Unnamed: 0,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,20.5750
1,615,0,3,"Brocklebank, Mr. William Alfred",male,35.0,0,0,8.0500
2,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",female,31.0,1,1,20.5250
3,855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,26.0000
4,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,146.5208

In [19]:
titanic_hidden_ds.head()

,Unnamed: 0,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare
0,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500
1,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333
2,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,16.7000
3,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,26.5500
4,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,8.0500

In [20]:
titanic_ds.isnull().sum()

Unnamed: 0    0
Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Fare          0
dtype: int64

In [21]:
x = titanic_ds[['Age','Parch','Pclass']]

In [22]:
y = titanic_ds[['Survived']]

In [23]:
from sklearn.preprocessing import LabelEncoder

In [26]:
lb = LabelEncoder()
y = lb.fit_transform(y)

In [27]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.30,random_state=40)

In [28]:
from tensorflow.keras.models import Sequential

In [18]:
pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.11.0-cp39-cp39-win_amd64.whl (1.9 kB)
Collecting tensorflow-intel==2.11.0
  Downloading tensorflow_intel-2.11.0-cp39-cp39-win_amd64.whl (266.3 MB)
Collecting libclang>=13.0.0
  Downloading libclang-14.0.6-py2.py3-none-win_amd64.whl (14.2 MB)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.19.1)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Requirement already satisfied: packaging in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (21.3)
Collecting tensorflow-estimator<2.12,>=2.11.0
  Downloading tensorflow_estimator-2.11.0-py2.py3-none-any.whl (439 kB)
Requirement already satisfied: six>=1.12.0 in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.16.0)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.28.0-cp39-cp39-win_amd64.whl (1.5 MB)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.42.0)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-22.11.23-py2.py3-none-any.whl (26 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-2.1.1-py3-none-any.whl (6.2 kB)
Collecting tensorboard<2.12,>=2.11
  Downloading tensorboard-2.11.0-py3-none-any.whl (6.0 MB)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting absl-py>=1.0.0
  Downloading absl_py-1.3.0-py3-none-any.whl (124 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (4.1.1)
Collecting keras<2.12,>=2.11.0
  Downloading keras-2.11.0-py2.py3-none-any.whl (1.7 MB)
Requirement already satisfied: setuptools in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (61.2.0)
Requirement already satisfied: numpy>=1.20 in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.21.5)
Requirement already satisfied: h5py>=2.9.0 in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (3.6.0)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\saiup\anaconda3\lib\site-packages (from tensorflow-intel==2.11.0->tensorflow) (1.12.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\saiup\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.0->tensorflow) (0.37.1)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\saiup\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.3)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\saiup\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.27.1)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Requirement already satisfied: markdown>=2.6.8 in c:\users\saiup\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3.4)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\saiup\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.33.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\saiup\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\saiup\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\saiup\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.2.8)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\saiup\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\saiup\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\saiup\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\saiup\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\saiup\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.0->tensorflow) (3.3)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\saiup\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.11.0->tensorflow) (3.0.4)
Installing collected packages: oauthlib, requests-oauthlib, tensorboard-plugin-wit, tensorboard-data-server, google-auth-oauthlib, absl-py, termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, tensorboard, opt-einsum, libclang, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow-intel, tensorflow
Successfully installed absl-py-1.3.0 astunparse-1.6.3 flatbuffers-22.11.23 gast-0.4.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 keras-2.11.0 libclang-14.0.6 oauthlib-3.2.2 opt-einsum-3.3.0 requests-oauthlib-1.3.1 tensorboard-2.11.0 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.11.0 tensorflow-estimator-2.11.0 tensorflow-intel-2.11.0 tensorflow-io-gcs-filesystem-0.28.0 termcolor-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [29]:
import tensorflow as tf; print(tf.reduce_sum(tf.random.normal([1000, 1000])))

tf.Tensor(-117.38794, shape=(), dtype=float32)

In [30]:
import tensorflow as tf; print(tf.config.list_physical_devices('GPU'))

[]

In [31]:
from tensorflow.keras.models import Sequential

In [32]:
from tensorflow.keras.layers import Dense

In [33]:
from tensorflow.keras import layers

In [34]:
from tensorflow.keras import activations

In [35]:
from tensorflow.keras.losses import binary_crossentropy

In [36]:
model = Sequential()

In [37]:
model.add(Dense(30, input_dim = 3, activation = activations.relu))

In [38]:
model.add(Dense(30, activation = activations.relu))

In [39]:
model.add(Dense(1, activation=activations.sigmoid))

In [40]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 30)                120

 dense_4 (Dense)             (None, 30)                930

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 1,081
Trainable params: 1,081
Non-trainable params: 0
_________________________________________________________________

In [41]:
model.compile(loss='binary_crossentropy', metrics=['accuracy'])

In [42]:
model.fit(x,y,epochs=5,verbose=1)

Epoch 1/5
16/16 [==============================] - 1s 4ms/step - loss: 0.6701 - accuracy: 0.5972
Epoch 2/5
16/16 [==============================] - 0s 3ms/step - loss: 0.6526 - accuracy: 0.5992
Epoch 3/5
16/16 [==============================] - 0s 3ms/step - loss: 0.6463 - accuracy: 0.6212
Epoch 4/5
16/16 [==============================] - 0s 4ms/step - loss: 0.6345 - accuracy: 0.6353
Epoch 5/5
16/16 [==============================] - 0s 4ms/step - loss: 0.6355 - accuracy: 0.6212

In [43]:
prediction = model.predict(x)

16/16 [==============================] - 0s 2ms/step

In [44]:
print(prediction[:2])

[[0.17676675]
 [0.1939257 ]]

In [45]:
from sklearn.metrics import accuracy_score

In [46]:

accuracy = accuracy_score(y, prediction.round())

In [47]:
print(accuracy)

0.6152304609218436

In [48]:
X1 = titanic_hidden_ds[['Age','Parch','Pclass']]

In [49]:
Y1 = titanic_hidden_ds[['Survived']]

In [50]:
model.compile(loss='binary_crossentropy', metrics=['accuracy'])

In [51]:
model.fit(X1,Y1,epochs=5,verbose=1)

Epoch 1/5
7/7 [==============================] - 1s 4ms/step - loss: 0.6903 - accuracy: 0.5860
Epoch 2/5
7/7 [==============================] - 0s 3ms/step - loss: 0.6802 - accuracy: 0.5721
Epoch 3/5
7/7 [==============================] - 0s 10ms/step - loss: 0.6550 - accuracy: 0.6140
Epoch 4/5
7/7 [==============================] - 0s 24ms/step - loss: 0.6473 - accuracy: 0.5953
Epoch 5/5
7/7 [==============================] - 0s 4ms/step - loss: 0.6640 - accuracy: 0.5860

In [52]:
prediction = model.predict(x)

16/16 [==============================] - 0s 2ms/step

In [53]:
print(prediction[:2])

[[0.30304295]
 [0.34061524]]

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy = accuracy_score(y, prediction.round())

In [56]:
print(accuracy)

0.6733466933867736